# 用户信息操作

In [4]:
# 导入pymysql模块
import pymysql

# 连接database
db = pymysql.connect(
    host = "127.0.0.1",
    port = 3306,
    user = "root",
    password = "mysql123",
    db = "news",
    charset = "utf8"
)

cur = db.cursor()


sql = "SELECT * FROM `news`.`news_api_user`"

cur.execute(sql)

result = cur.fetchall()
for item in result:
    print(item, '\n')

cur.close()
db.close()

(219999, '布朗熊', 1, '127.0.0.1', '111111', '经济,美国,欧洲,技术,外媒,俄罗斯,肺炎,金融', '{"美国": 0.35, "技术": 0.35, "俄罗斯": 0.35, "肺炎": 0.35, "金融": 0.38, "欧洲": 0.35, "外媒": 0.35, "经济": 0.35, "股价": 0.01, "商誉": 0.01, "股东": 0.01, "A股": 0.01, "业绩": 0.01, "净利润": 0.01, "公司": 0.01, "负面新闻": 0.01, "机构": 0.01}', '', '陕西')

(220000, '陶志远', 1, '127.0.0.1', '123456', '国际,制裁', '{"国际": 0.35, "制裁": 0.35, "主题公园": 0.01, "观光": 0.01, "济州": 0.01, "头条": 0.01, "列车": 0.01, "济州岛": 0.01, "韩国": 0.01, "游客": 0.01}', '', '安徽')

In [68]:
import pandas as pd

df = pd.read_csv('user_id_list.csv')
df.head()

   userid username  password  gender region
0  220001       张伟    111111       1     河北
1  220002       王芳    111111       0     陕西
2  220003       刘伟    111111       1     西藏
3  220004       张敏    111111       0     四川
4  220005       李伟    111111       1     重庆

In [72]:
user_info_list = []
for i in range(len(df)):
    user_info = {}
    df_row = df.iloc[i]
    user_info['userid']   = df_row['userid']
    user_info['username'] = df_row['username']
    user_info['password'] = df_row['password']
    user_info['gender']   = df_row['gender']
    user_info['region']   = df_row['region']
    user_info_list.append(user_info)
print(user_info_list)

[{'userid': 220001, 'username': '张伟', 'password': 111111, 'gender': 1, 'region': '河北'}, {'userid': 220002, 'username': '王芳', 'password': 111111, 'gender': 0, 'region': '陕西'}, {'userid': 220003, 'username': '刘伟', 'password': 111111, 'gender': 1, 'region': '西藏'}, {'userid': 220004, 'username': '张敏', 'password': 111111, 'gender': 0, 'region': '四川'}, {'userid': 220005, 'username': '李伟', 'password': 111111, 'gender': 1, 'region': '重庆'}, {'userid': 220006, 'username': '王静', 'password': 111111, 'gender': 0, 'region': '云南'}, {'userid': 220007, 'username': '王勇', 'password': 111111, 'gender': 1, 'region': '贵州'}, {'userid': 220008, 'username': '李静', 'password': 111111, 'gender': 0, 'region': '江西'}, {'userid': 220009, 'username': '郑磊', 'password': 111111, 'gender': 1, 'region': '河南'}, {'userid': 220010, 'username': '王燕', 'password': 111111, 'gender': 0, 'region': '山东'}, {'userid': 220011, 'username': '孟浩', 'password': 111111, 'gender': 1, 'region': '北京'}, {'userid': 220012, 'username': '王秀英', 'password': 111111, 'gender': 0, 'region': '上海'}, {'userid': 220013, 'username': '陈建平', 'password': 111111, 'gender': 1, 'region': '江苏'}, {'userid': 220014, 'username': '王玉珍', 'password': 111111, 'gender': 0, 'region': '浙江'}, {'userid': 220015, 'username': '胡志明', 'password': 111111, 'gender': 1, 'region': '江苏'}, {'userid': 220016, 'username': '刘红梅', 'password': 111111, 'gender': 0, 'region': '浙江'}, {'userid': 220017, 'username': '李建平', 'password': 111111, 'gender': 1, 'region': '安徽'}, {'userid': 220018, 'username': '季欣怡', 'password': 111111, 'gender': 0, 'region': '安徽'}, {'userid': 220019, 'username': '彭国华', 'password': 111111, 'gender': 1, 'region': '江苏'}, {'userid': 220020, 'username': '吴桂秀', 'password': 111111, 'gender': 0, 'region': '安徽'}, {'userid': 220021, 'username': '一身都是月', 'password': 111111, 'gender': 1, 'region': '浙江'}, {'userid': 220022, 'username': '风软一江水', 'password': 111111, 'gender': 0, 'region': '安徽'}, {'userid': 220023, 'username': '犹怜草木青', 'password': 111111, 'gender': 1, 'region': '安徽'}, {'userid': 220024, 'username': '灭烛怜光满', 'password': 111111, 'gender': 0, 'region': '江苏'}, {'userid': 220025, 'username': '长安一片月', 'password': 111111, 'gender': 1, 'region': '安徽'}, {'userid': 220026, 'username': '可怜今夕月', 'password': 111111, 'gender': 0, 'region': '安徽'}, {'userid': 220027, 'username': '无心爱良夜', 'password': 111111, 'gender': 1, 'region': '安徽'}, {'userid': 220028, 'username': '吹不散眉弯', 'password': 111111, 'gender': 0, 'region': '江苏'}, {'userid': 220029, 'username': '我亦飘零久', 'password': 111111, 'gender': 1, 'region': '安徽'}, {'userid': 220030, 'username': '两鬓可怜青', 'password': 111111, 'gender': 0, 'region': '浙江'}]

## 写入数据库

In [94]:
# 导入pymysql模块
import pymysql

# 连接news数据库
db = pymysql.connect(
    host = "127.0.0.1",
    port = 3306,
    user = "root",
    password = "mysql123",
    db = "news",
    charset = "utf8"
)

cur = db.cursor()

## 查询
sql = "UPDATE news_api_user SET ip = %s"

cur.execute(sql, "127.0.0.1")
db.commit()

cur.close()
db.close()

#